body {
  background-color: whitesmoke;
  padding: 5% 5%;
}

.container {
  background-color: rgb(242, 253, 190);
  margin: 0;
  padding: 1rem 5rem;
  border: solid rgb(28, 182, 74) 3px;
  border-radius: 1rem;
}

h1 {
  text-align: center;
}

.btn-submit {
  background-color: rgb(32, 237, 252);
  border: solid 3px;
}
